.campus-cache
.git
.github
.env
.env.*
**/.env
**/.env.*
**/.coverage
**/.mypy_cache
**/.next
**/.pytest_cache
**/.ruff_cache
**/.venv
**/__pycache__
**/dist
**/htmlcov
**/node_modules
*.db
*.db-*
*.log
apps
backups
backend/admin_log.json
backend/error.log
backend/help
backend/logs
backend/manage_message.json
backend/managers.json
backend/static/avatars
backend/static/chunks
backend/static/messages
backend/static/notice.json
backend/static/tiny_files
backend/static/uploads
docs
tools/tests
