.git
.github
.env
.env.*
**/.env
**/.env.*
**/dist
**/node_modules
*.log
backups
backend/admin_log.json
backend/error.log
backend/help
backend/logs
backend/manage_message.json
backend/managers.json
backend/static/avatars
backend/static/chunks
backend/static/notice.json
backend/static/tiny_files
backend/static/uploads
docs
